@page
@model DesignModel

<p>@Model.simulationMessage</p>

<p>Cycle Type: @Model.cycleType</p>


<form method="post" asp-page-handler="RunSimulation">
    
    <!-- Summary level validation -->
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <!-- Cycle Type selection -->
    <label asp-for="cycleType" class="control-label"></label>
    <select asp-for="cycleType" asp-items="Model.cycleTypes" class="form-control"></select>
    <br>
    
    <!-- Cylinder count -->
    <label asp-for="cylinderCount" class="control-label"></label>
    <input asp-for="cylinderCount" type="number" class="form-control">
    <span asp-validation-for="cylinderCount" class="text-danger"></span>
    <br><br>
    
    <!-- Cylinder Geometry Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cylinderGeometryModal">
        Define Geometry
    </button>
    <div class="modal fade" id="cylinderGeometryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cylinder Geometry Definition</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Pick 2 stuff here</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Run Simulation! -->
    <br><br>
    <button type="submit">Run Simulation</button>
    
    
</form>


@section Scripts {
    <script>
        
    </script>
}



